@import url(http://fonts.googleapis.com/css?family=Rokkitt:700|Open+Sans);
body {
  /*url(../img/bg.png)*/
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #fff;
}

.content {
  width: 800px;
  margin: 50px auto 50px auto;
  color: #fff;
}

.content img {
  display: block;
}
